.footer {
    margin-top: 215px;
}

.footer-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 20px;
   
}
.address , .flex-5, .flex-3{
    text-align: left;
}

.footer h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
}

.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quick-links a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}

.contact p,
.address p {
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}

.contact-icons img {
    width: 18px !important;
    margin-right: 5px;
}


footer hr {
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.copyright p {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
}
@media (max-width: 900px) {
.footer-flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 56px;
            padding: 20px;
    }
    .footer-logo{
        width: 76%;
    }
        .address,
        .flex-5,
        .flex-3 {
            text-align: center;
            padding-top: 10px;
        }
          
                .footer h3 {
                    font-size: 24px;
                    padding-top: 10px;
                   
                }
               .flex-3 h3{
                margin-top: 18px;
              
               }
        
            
            
        
        
}