@font-face {
  font-family: Averta;
  src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

* {
  box-sizing: border-box;
  font-family: Averta, sans-serif;
  /*overflow: hidden;*/
}
a {
  color: #E7332B;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #eb5850;
}
.App{
    width: 100%
  }

  

 

  

  